/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN - Komga base by emilyy3k					 */
/* 			      https://github.com/gilbN/theme.park			 */

@import url("/css/defaults/placeholders.css");
@import url("/css/defaults/transparent.css");

:root body #app {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text);
    --v-primary-base: rgb(var(--accent-color));
    --v-contrast-1-base: var(--transparency-dark-25);
    --v-secondary-base: var(--link-color-hover);
    --v-accent-base: var(--button-color);
}


/* Navigation */

body .v-navigation-drawer[class*="theme--"] {
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--transparency-dark-05);
}

body .v-navigation-drawer[class*="theme--"]:not(.v-navigation-drawer--is-mobile) { 
    background-color: var(--transparency-dark-15);
}

body .v-navigation-drawer[class*="theme--"]::after {
    content: ""; 
    background-color: var(--modal-bg-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

body .v-navigation-drawer[class*="theme--"] .v-divider {
    border-color: rgba(from var(--text) r g b / 0.12);
}

body .v-toolbar.v-sheet[class*="theme--"]:not([style*="bottom: 0px"]) { /* top toolbar */
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--transparency-dark-25);
}

body .v-toolbar.v-sheet[class*="theme--"]:not([style*="bottom: 0px"])::after {
    content: "";
    background-color: var(--modal-header-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

body .v-toolbar.v-sheet[class*="theme--"]:not(.v-app-bar):not([style*="top: 0px"]) { /* Bottom toolbar */
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--transparency-dark-15) !important;
}

body .v-toolbar.v-sheet[class*="theme--"]:not(.v-app-bar):not([style*="top: 0px"])::after {
    content: "";
    background-color: var(--modal-footer-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

body .v-list-group.v-list-group--active.primary--text {
	color: var(--link-color-hover) !important;
	caret-color: var(--link-color-hover) !important;
}

body .v-bottom-navigation[class*="theme--"] {
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--modal-footer-color) !important;
    color: var(--text);
}

body .v-bottom-navigation[class*="theme--"]::after {
    content: "";
    background-color: var(--transparency-dark-15);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

body .v-bottom-navigation[class*="theme--"] .v-btn:not(.v-btn--active) {
    color: var(--text) !important;
}

body .v-btn.v-btn--has-bg.v-btn--bottom[class*="theme--"] {
    background-color: var(--button-color);
}

/* Update Notification Pips */

body .v-application .v-badge--dot .warning {
	background-color: var(--plex-poster-unwatched) !important;
	border-color: var(--plex-poster-unwatched) !important;
}


/* Search Bar */

body .v-text-field--solo[class*="theme--"] > .v-input__control > .v-input__slot {
    background-color: var(--transparency-light-05);
}


/* Filter Panel */

body .v-expansion-panels[class*="theme--"] .v-expansion-panel {
    background-color: var(--transparency-dark-15);
}


/* Edit Dialogue */

body #app .v-dialog .v-card {
    background: var(--modal-bg-color);
}

body #app .v-dialog .v-card .v-tabs .v-item-group[class*="theme--"] {
    background-color: transparent;
}

body #app .drop-zone {
    background: repeating-linear-gradient(135deg,rgba(from var(--v-base-lighten1) r g b / 0.7),rgba(from var(--v-base-lighten1) r g b / 0.7) 20px,rgba(from var(--v-base-darken1) r g b / 0.7) 20px,rgba(from var(--v-base-darken1) r g b / 0.7) 40px)
}

/* Cards */

body .v-card[class*="theme--"] {
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--transparency-dark-35);
}

body div:not(.v-window) .v-card[class*="theme--"]::after {
    content: "";
    background-color: var(--drop-down-menu-bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-box;
    z-index: -1;
}

body #app .unread {
    border-right-color: var(--plex-poster-unwatched)  !important;
}

body .v-card[class*="theme--"] > .v-card__subtitle, 
body .v-card[class*="theme--"] > .v-card__text {
    color: var(--text-muted);
}

body .item-border-darken {
    border-color: color-mix(in hsl, var(--plex-poster-unwatched), rgb(0,0,0) 20%);
}

body .v-chip[class*="theme--"]:not(.v-chip--active) {
    background-color: var(--transparency-light-10);
}

body div.item-card.v-card.v-card--link.v-sheet div.v-image.v-responsive div.v-responsive__content span.pa-1.px-2.text-subtitle-2,
body div.v-card.v-card--link.v-sheet.no-link div.v-image.v-responsive div.v-responsive__content span.white--text.pa-1.px-2.text-subtitle-2,
body div#app.v-application.v-application--is-ltr div.v-menu__content.v-menu__content--fixed.menuable__content__active.v-autocomplete__content div[id*="list-"].v-list.v-select-list.v-sheet div[id*="list-item-"].v-list-item.v-list-item--link div.v-image.v-responsive.my-1.mx-3 div.v-responsive__content span.white--text.pa-0.px-1.text-caption {
    background-color: var(--plex-poster-unwatched) !important;
}

/* Progress Bars */

body .v-progress-linear .orange[class*="v-progress-linear__"] {
    background-color: var(--plex-poster-unwatched) !important;
	border-color: var(--plex-poster-unwatched) !important;
}

body .v-progress-linear {
    color: var(--text);
}


/* Dropdown */

body .v-list[class*="theme--"] {
    background: var(--drop-down-menu-bg);
    color: var(--text);
}


/* Button */

body .v-btn:not(.v-btn--outlined).accent, 
body .v-btn:not(.v-btn--outlined).error, 
body .v-btn:not(.v-btn--outlined).info, 
body .v-btn:not(.v-btn--outlined).primary, 
body .v-btn:not(.v-btn--outlined).secondary, 
body .v-btn:not(.v-btn--outlined).success, 
body .v-btn:not(.v-btn--outlined).warning {
    color: var(--button-text);
}

body .v-btn--has-bg.primary {
    background-color: var(--button-color);
}

body .v-btn.v-btn--disabled[class*="theme--"], 
body .v-btn.v-btn--disabled[class*="theme--"] .v-btn__loading, 
body .v-btn.v-btn--disabled[class*="theme--"] .v-icon {
    color: var(--text-muted) !important;
}

body .v-btn[class*="theme--"] {
    color: var(--text);
}

body :not(.v-bottom-navigation) .v-btn.v-btn--has-bg[class*="theme--"] {
    background-color: rgba(from var(--text) r g b / 0.1);
}

body .v-chip[class*="theme--"] {
    border-color: rgba(from var(--text) r g b / 0.12);
}

body .v-btn.v-btn--has-bg.primary {
    color: var(--button-text) !important;
    background: var(--button-color) !important;
}

body .v-btn.v-btn--disabled.v-btn--has-bg[class*="theme--"] {
    background-color: rgba(from var(--text-muted) r g b / 0.05) !important;
    color: rgba(from var(--text-muted) r g b / 0.4) !important;
}


/* Typography */

body .v-label[class*="theme--"] {
    color: var(--text-muted);
}

body .v-input[class*="theme--"] {
    color: var(--text);
}

body .v-select[class*="theme--"] .v-select__selections {
    color: var(--text);
}

body .v-icon[class*="theme--"] {
    color: var(--text);
}

body .v-list-item[class*="theme--"]:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: var(--text);
}

body .v-sheet[class*="theme--"] {
    color: var(--text);
}

body .v-btn.v-btn--icon[class*="theme--"] {
    color: var(--text);
}

body .v-chip[class*="theme--"] {
    color: var(--text);
}

body .v-application[class*="theme--"] .text--primary {
    color: var(--text) !important;
}

body .v-application .grey--text.text--darken-1 {
	color: var(--text-muted) !important;
	caret-color: var(--text-muted) !important;
}

body .v-data-table[class*="theme--"] .v-data-table-header th.sortable.active, 
body .v-data-table[class*="theme--"] .v-data-table-header th.sortable.active .v-data-table-header__icon, 
body .v-data-table[class*="theme--"] .v-data-table-header th.sortable:hover {
    color: var(--text-hover);
}

body .v-messages[class*="theme--"] {
    color: rgba(from var(--text) r g b / 0.7);
}

body .v-list-item[class*="theme--"]:not(.v-list-item--disabled) .v-list-item__action-text, 
body .v-list-item[class*="theme--"]:not(.v-list-item--disabled) .v-list-item__subtitle {
    color: var(--text-muted);
}

body .v-badge a.link-none[href="/settings/updates"] {
    color: var(--text-muted);
}

body .v-application.grey {
    background-color: var(--text-muted) !important;
	border-color: var(--text-muted) !important;
}

.theme--dark.v-tabs > .v-tabs-bar .v-tab--disabled, 
.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), 
.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn, 
.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon {
    color: rgba(from var(--text) r g b / 0.6);
}

body .v-tab--active .v-btn.v-btn--flat, 
body .v-tab--active .v-icon {
    color: inherit;
}


/* Text Input */

body .v-text-field[class*="theme--"] > .v-input__control > .v-input__slot::before {
    border-color: rgba(from var(--text) r g b / 0.7);
}

.v-text-field[class*="theme--"]:not(.v-input--has-state):hover > .v-input__control > .v-input__slot::before {
	border-color: var(--text);
}

body .v-input[class*="theme--"], body .v-input[class*="theme--"] input, body.v-input[class*="theme--"] textarea {
    color: var(--text);
}

body .v-subheader[class*="theme--"] {
    color: rgba(from var(--text) r g b / 0.7);
}

body .v-application[class*="theme--"] kbd {
    color: var(--button-text);
    background: var(--button-color)
}


/* Table */

body .v-data-table[class*="theme--"] {
    color: var(--text);
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--transparency-dark-35);
}

body .v-data-table[class*="theme--"] > .v-data-table__wrapper > table > thead > tr > th {
    color: var(--text-muted);
}

body .v-data-table[class*="theme--"] > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: rgba(from var(--text) r g b / 0.2);
}

body .v-data-table[class*="theme--"] .v-data-table__empty-wrapper {
    color: rgba(from var(--text) r g b / 0.5);
}


/* Pagination */

body .v-pagination[class*="theme--"] .v-pagination__item {
    color: var(--text);
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--transparency-light-15);
}

body .v-pagination[class*="theme--"] .v-pagination__navigation {
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    background-color: var(--transparency-light-15);
}

body .v-pagination__item.v-pagination__item--active.primary {
	background-color: var(--button-color-hover) !important;
	border-color: var(--button-color-hover) !important;
    color: var(--button-text-hover) !important;
}


/* File Input */

body .v-file-input[class*="theme--"] .v-file-input__text {
    color: var(--text);
}


/* Tooltip */

body .v-tooltip__content {
    -webkit-backdrop-filter: saturate(1) blur(1.5em);
    backdrop-filter: saturate(1) blur(1.5em);
    color: var(--text);
    background: color-mix(in hsl, rgb(var(--accent-color), .3), var(--text) 20%);
}